<header>
    <input type = "checkbox" id= "navicon__checkbox" />
    <label for="navicon__checkbox" class="navicon"></label>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/orders">Orders</a></li>
            <hr />
            <% if(loggedIn) {%>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/login/logout">Log Out</a></li>
            <% } else { %>
            <li><a href="/login">Log In</a></li>
            <% } %>
        </ul>
    </nav>
</header>