<header>
    <input type = "checkbox" id= "navicon__checkbox" />
    <label for="navicon__checkbox" class="navicon"></label>
    <nav>
        <ul>
            <li>Shop</li>
            <li>Cart</li>
            <li>Orders</li>
            <hr />
            <li>Admin</li>
            <li>Log in</li>
        </ul>
    </nav>
</header>