<header>
    <input type = "checkbox" id= "navicon__checkbox" />
    <label for="navicon__checkbox" class="navicon"></label>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/orders">Orders</a></li>
            <hr />
            <li><a href="/admin">Admin</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
</header>