<html>

<head>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <header class="mainheader">
        <nav class="mainheader__nav">
            <ul class="mainheader__itemlist">
                <li class="mainheader__item"><a href="/">Shop</a></li>
                <li class="mainheader__item"><a href="/admin">Add Product</a></li>
            </ul>
        </nav>
        <main>
            <h1>Page not found!</h1>
            <p>Looks like you're lost... Click <a href="/">here</a> to find your way back!</p>
        </main>
    </header>
</body>

</html>