<html>

<head>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1>Page not found!</h1>
        <p>Looks like you're lost... Click <a href="/">here</a> to find your way back!</p>
    </main>
</body>

</html>