<html>

<head>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
        <main>
            <h1>Add products</h1>
            <form method="POST" action="/admin/add-product">
                <input type="text" name="content"><button type="submit">Add new product</button>
            </form>
        </main>
</body>

</html>