<html>
    <head>
        <%- include('includes/head.ejs') %>
    </head>
    <body>
        <header class="mainheader">
            <nav class="mainheader__nav">
                <ul class="mainheader__itemlist">
                    <li class="mainheader__item"><a href="/">Shop</a></li>
                    <li class="mainheader__item"><a href="/admin">Add Product</a></li>
                </ul>
            </nav>
            <h1>Shop</h1>
            
        </header>
    </body>

</html>